<div class="col-sm-1 columns" ng-hide="sliggitySearchResponse.heroIcon == 'All Heroes'">
    <img ng-src="{{heroIcon}}" class="heroIcon">
</div>
<div class="col-sm-1 columns" ng-show="sliggitySearchResponse.heroIcon == 'All Heroes'"></div>
<div class="col-sm-2 columns">
    <strong>Hero win rate: {{sliggitySearchResponse.winLossRatio}}%</strong><br/>
    <strong>Total matches: {{sliggitySearchResponse.matchesCount}}</strong>
</div>
<div class="col-sm-2 columns">
    <div class="chartContainer">
        <div class="redChart">{{sliggitySearchResponse.losses}}</div>
        <div class="chart"></div>
    </div>
</div>