<form name="form1">
    <div class="row bottom-buffer form-group">
        <div class="col-sm-12 col-md-4">
            <select class="form-control"
                    ng-model="heroSearchRequest.type"
                    ng-change="updateHero(heroSearchType)"
                    ng-options="heroSearchType.text for heroSearchType in heroSearchTypes"/>
        </div>
    </div>

    <div class="row bottom-buffer form-group">
        <div class="col-sm-12 col-md-4">
            <select class="form-control"
                    ng-model="modeSearchRequest.type"
                    ng-change="updateMode(modeSearchType)"
                    ng-options="modeSearchType.text for modeSearchType in modeSearchTypes"/>
        </div>
    </div>

    <div class="row bottom-buffer form-group">
        <div class="col-sm-12 col-md-4">
            <select class="form-control"
                    ng-model="mapSearchRequest.type"
                    ng-change="updateMap(mapSearchType)"
                    ng-options="mapSearchType.text for mapSearchType in mapSearchTypes"/>
        </div>
    </div>

    <div class="row bottom-buffer form-group">
        <div class="col-sm-12 col-md-4">
            <select class="form-control"
                    ng-model="dateSearchRequest.type"
                    ng-change="updateDates(dateSearchType)"
                    ng-options="dateSearchType.text for dateSearchType in dateSearchTypes"/>
        </div>
    </div>

    <div class="row bottom-buffer">
        <div class="col-sm-12 col-md-2">
            <label>From:</label>
            <input type="text" class="form-control" ng-model="beginningDate"/>
        </div>
        <div class="col-sm-12 col-md-2">
            <label>To:</label>
            <input type="text" class="form-control" ng-model="endDate"/>
        </div>
    </div>

    <div class="row bottom-buffer">
        <div class="col-sm-12">
            <button class="btn btn-default" ng-click="search()">Search</button>
        </div>
    </div>
</form>
<hr/>
<div class="row bottom-buffer" ng-show="sliggitySearchResponse.matches.length > 0">
    <hero-chart></hero-chart>
</div>
<div ng-show="sliggitySearchResponse.mapData.length > 1" class="mapScaleChart"></div>
<div class="row bottom-buffer" ng-show="sliggitySearchResponse.matches.length > 0">
    <hr/>
    <div class="col-sm-12 columns">
        <table class="table">
            <thead>
            <tr>
                <th>Match Type</th>
                <th>Map</th>
                <th>Length</th>
                <th>Hero</th>
                <th>Level</th>
                <th>MMR</th>
                <th>+/-</th>
                <th>Date</th>
                <th>Time</th>
                <th>Win/Loss</th>
                <th>Season</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="match in sliggitySearchResponse.matches">
                <td>{{match.matchType}}</td>
                <td>{{match.mapName}}</td>
                <td>{{match.matchLength}}</td>
                <td>{{match.heroName}}</td>
                <td>{{match.heroLevel}}</td>
                <td>{{match.matchmakingRating}}</td>
                <td>{{match.ratingAdjustmentPoints}}</td>
                <td>{{match.matchDate}}</td>
                <td>{{match.matchTime}}</td>
                <td>{{match.matchOutcome}}</td>
                <td>{{match.season}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>