<form name="form1">
    <div class="row bottom-buffer form-group">
        <div class="col-sm-12 col-md-4">
            <select class="form-control"
                    ng-model="mapSearchRequest.type"
                    ng-change="updateMap(mapSearchType)"
                    ng-options="mapSearchType.text for mapSearchType in mapSearchTypes"/>
        </div>
    </div>

    <div class="row bottom-buffer">
        <div class="col-sm-12">
            <button class="btn btn-default" ng-click="search()">Search</button>
        </div>
    </div>
</form>
<hr/>

<div class="row bottom-buffer" ng-show="sliggitySearchResponse.protocolMatches.length > 0">
    <div class="col-sm-12 columns">
        <li ng-repeat="protocolMatch in sliggitySearchResponse.protocolMatches">
            <span>{{protocolMatch.mapName}}</span>
            <ul>
                <li ng-repeat="player in protocolMatch.players">{{player.name}} -> {{player.hero}}</li>
            </ul>
        </li>
    </div>
</div>