.mapChart {
  background: #fff;
  font: 14px sans-serif;
  font-weight: strong;
  shape-rendering: crispEdges;
}

.mapChart text {
  font: 14px sans-serif;
  font-weight: bold;
  fill: #000;
}

.chartContainer {
    width: 100%;
    height: 20px;
    position: relative;
}
.redChart,
 .chart {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    font: 14px sans-serif;
    color: white;
    margin-top: 9px;
    padding: 3px;
    font-weight: bold;
}
.chart {
    background-color: green;
    z-index: 11;
}
.redChart {
    width: 100%;
    background-color: red;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.heroIcon {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(135deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    border-image-slice: 1;
    width: 40px;
    height 40px;
    margin-left: 15px;
}

.mapIcon {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(135deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    border-image-slice: 1;
    width: 75px;
}